<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.stangegrotto.wunderjinx</string>
    <key>EnvironmentVariables</key>
    <dict>
            <key>PYTHONPATH</key>
            <!-- <string>/usr/local/lib/python2.7/site-packages</string> -->
            <string>{{ pythonpath }}</string>
    </dict>
    <key>ProgramArguments</key>
    <array>
        <string>{{ python_binary_filepath }}</string>
        <!-- <string>REPLACEME /path/to/wunderjinx/queue_consumer.py</string> -->
        <string>{{ queue_consumer_filepath }}</string>
    </array>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <!-- <string>REPLACEME /path/to/wunderjinx.log</string> -->
    <string>{{ log_filepath }}</string>
    <key>StandardErrorPath</key>
    <!-- <string>REPLACEME /path/to/wunderjinx.log</string> -->
    <string>{{ log_filepath }}</string>
    <key>Debug</key>
    <true/>
</dict>
</plist>
