---
client_id: 
access_token:  
rabbitmq_host: localhost

# TODO This is temporary, until the list_resolver is implemented
# When it is done, this should be "default list name"
default_list_id: 

# You shouldn't need to touch these
datetime_format: "%Y-%m-%d %H:%M:%S"
queue: wunderjinx
