# ----- Wunderlist connection details ---------------
CLIENT_ID =
ACCESS_TOKEN =
# ---------------------------------------------------

# ------ RabbitMQ connection details ----------------
RABBITMQ_HOST =
RABBITMQ_PORT = 5672
QUEUE = "wunderjinx"
# ---------------------------------------------------

# ------ List resolver settings ---------------------
DEFAULT_LIST_NAME = "Inbox"
# ---------------------------------------------------

# ------ Advanced settings --------------------------
DATETIME_FORMAT = "%Y-%m-%d %H:%M:%S"
# ---------------------------------------------------
